*.cvs filter=lfs diff=lfs merge=lfs -text
data/sav_data.csv filter=lfs diff=lfs merge=lfs -text
sav25.csv filter=lfs diff=lfs merge=lfs -text
IDLookupTable.csv filter=lfs diff=lfs merge=lfs -text
*.csv filter=lfs diff=lfs merge=lfs -text
